<h1>My Tasks</h1>

<p><%= @task.title %> </p>
<p> Details: <%= @task.details %> </p>
<p> Completed: <%= @task.completed %> </p>

<p><%= link_to 'Edit this Task', edit_task_path(@task) %></p>

<p><%= link_to 'Remove this Task', task_path(@task), method: :delete, data: { confirm: "Are you sure?" } %></p>

<p><%= link_to 'Back To Tasks List', tasks_path %></p>
